# cross fade
pydub
ffmpeg-python
static-ffmpeg

# beat matching
librosa
numpy
scipy

# software
fastapi
uvicorn[standard]
python-multipart
Pillow
requests
aiofiles

# frontend
streamlit

#experiments
ipykernel
matplotlib